{% extends 'base.html' %}
{% load staticfiles %}
    
{%block page_title %} {{page_title}}  {%endblock%}


{%block  sidebar_block %} <h4><a href="/">Main</a><br /><p></p></h4>{% endblock %}

{% block body_block%}
  <div class= "page-header"><form class="form-inline">
    <input type="text" class="form-control" id="search" placeholder="Search">
    <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-search"></span></button>
  </form> <{{count}} Items found </div>
  <div class="span9">
    <input type="submit" name="New" formaction="/sto/" value="New STO" /><p></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>STO#</th>
          <th>Poject</th>
          <th>Customer</th>
          <th>Notes</th>
          <th id= "assigned">Assigned</th>
          <th>Date Opened</th>
          <th class= "dropdown" >
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" placeholder=".col-xs-3">Status  <b class="caret"></b></a>
                  <ul class="dropdown-menu" id='status'>
                    <li> <h5 class= "text-center">Active</h5></li>

                    <li><h5 class = "text-center">Closed</h5></li>
                  </ul>        
          </th>
          
          <th class= "dropdown" id='billtype'>
             <a href="#" data-toggle="dropdown" class="dropdown-toggle">Billing<b class="caret"></b></a>
                  <ul class="dropdown-menu">

                    <li><a href="#">Warranty</a></li>

                    <li><a href="#">Rental</a></li>
                    
                    <li><a href="#">System</a></li>

                    <li class="divider"></li>

                    <li><a href="#">Bill</a></li>

                </ul>
          </th>
        </tr>
      </thead>
  </div>
      <tbody>
        <tr>
          
        {% for item  in list %}
            {% if item.project %}
            <td><a href="{{ item.stid }}">{{item.stid}}</a></td>
            <td>{{item.project}}</td>
            <td>{{item.customer_location.customer}}</td>
            <td>{{item.notes}}</td>
            <td>{{item.person_responsible}}</td>
            <td>{{item.entrydate|date:'M-d-y'}}</td>
          <td>{{item.status}}</td>
          <td>{{item.billing}}</td>  
          </tr>
       
           {% endif %}
         
        {% endfor %}
        
      </tbody>
    </table>
  </div>
</div>
  
 {%endblock%}